<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select person to delete</title>
    <link rel="stylesheet" th:href="@{/static/css/styles.css}">
</head>
<body>
    <h3 class="title">Select person to delete</h3>
    <div class="content">
        <div class="info-list">
            <div th:each="person : ${people}" class="info-item">
                <a th:href="@{/people/{id}/delete(id=${person.getId()})}" th:text="${person.getName()} + ' ' + ${person.getSurname()}">person</a>
            </div>
        </div>
        <form action="javascript:history.back()" class="actions">
            <button class="btn">Get back</button>
        </form>
    </div>
</body>
</html>
