<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select person to edit</title>
    <link rel="stylesheet" th:href="@{/static/css/styles.css}">
</head>
<body>
    <h3>Select person to edit</h3>
    <div class="content">
        <table class="user-list">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Surname</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${people}">
                <td><div class="user-image"></div></td>
                <td th:text="${person.getName()}">Name</td>
                <td th:text="${person.getSurname()}">Surname</td>
                <td>
                    <a th:href="@{/people/{id}/edit(id=${person.getId()})}" style="text-decoration: none; border: none;">
                        <img th:src="@{/static/png/edit_icon.png}" width="20" height="20">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <form action="javascript:history.back()" class="actions">
            <button class="btn">Get back</button>
        </form>
    </div>
</body>
</html>
