<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
    <link rel="stylesheet" th:href="@{/static/css/styles.css}">
</head>
<body>
    <h3>Add person page</h3>
    <div class="content">
        <form th:method="POST" th:action="@{/people/}" th:object="${person}">
            <label for="name">Enter name</label>
            <input type="text" th:field="*{name}" id="name"/>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
            <label for="surname">Enter surname</label>
            <input type="text" th:field="*{surname}" id="surname"/>
            <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
            <label for="email">Enter email</label>
            <input type="text" th:field="*{email}" id="email"/>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
            <div class="logo-selector">
                <label>Select Logo:</label>
                <div class="logo-option">
                    <label for="logo1">
                        <input type="radio" th:field="*{logoId}" id="logo1" value="1"/>
                        <img th:src="@{/static/logo/1.png}" width="50" height="50">
                    </label>
                </div>
                <div class="logo-option">
                    <label for="logo2">
                        <input type="radio" th:field="*{logoId}" id="logo2" value="2"/>
                        <img th:src="@{/static/logo/2.png}" width="50" height="50">
                    </label>
                </div>
                <div class="logo-option">
                    <label for="logo3">
                        <input type="radio" th:field="*{logoId}" id="logo3" value="3"/>
                        <img th:src="@{/static/logo/3.png}" width="50" height="50">
                    </label>
                </div>
                <div class="logo-option">
                    <label for="logo4">
                        <input type="radio" th:field="*{logoId}" id="logo4" value="4"/>
                        <img th:src="@{/static/logo/4.png}" width="50" height="50">
                    </label>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
        <form th:method="POST" th:action="@{/people/generate}">
            <button type="submit">Generate people</button>
        </form>
        <form action="javascript:history.back()">
            <button>Get back</button>
        </form>
    </div>
</body>
</html>
