<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people/}" th:object="${person}">

    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>

<!--    <label for="surname">Enter surname</label>-->
<!--    <input type="text" th:field="*{surname}" id="surname"/>-->

<!--    <label for="email">Enter email</label>-->
<!--    <input type="text" th:field="*{email}" id="email"/>-->

    <input type="submit" value="Add to Person to DB"/>
</form>

</body>
</html>