<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show person</title>
    <link rel="stylesheet" th:href="@{/static/css/styles_personPage.css}">
</head>
<body>
<section>
    <div class="card">
        <div th:class="@{'left-section' + ' gradient' + ${person.getLogoId()}}">
            <div class="logo-area">
                <img th:src="@{'/static/logo/' + ${person.getLogoId()} + '.png'}" alt="User Logo">
            </div>
            <div class="name-area">
                <h3 th:text="${person.getName() + ' ' + person.getSurname()}"></h3>
            </div>
        </div>
        <div class="right-section">
            <div class="email-area">
                <h6>Email:</h6>
                <p th:text="${person.getEmail()}"></p>
            </div>
            <div class="actions">
                <form th:method="GET" th:action="@{/people}">
                    <button class="btn">People List</button>
                </form>
                <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
                    <button class="btn">Edit</button>
                </form>
                <form th:method="GET" th:action="@{/people/{id}/delete(id=${person.getId()})}">
                    <button class="btn">Delete</button>
                </form>
            </div>
            <form th:method="GET" th:action="@{/}">
                <button class="btn">Home</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>
