<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show person</title>
</head>
<body>

<h3>Show person page</h3>

<br/>

<p th:text="${person.getName()}">person</p>
<p th:text="${person.getSurname()}">person</p>
<p th:text="${person.getEmail()}">person</p>
<p th:text="${person.getId()}">person</p>

<br/>

<form action="/people/show">
    <button>People list</button>
</form>

<br/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>