<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h3>Welcome to Main page!</h3>
    <br/>
    <form th:method="GET" th:action="@{/people/show}">
        <button type="submit">Show people</button>
    </form>
    <br/>
    <form th:method="GET" th:action="@{/people/new}">
        <button type="submit">New person</button>
    </form>
    <br/>
    <form th:method="GET" th:action="@{/people/edit}">
        <button type="submit">Edit person</button>
    </form>
    <br/>
    <form th:method="GET" th:action="@{/people/delete}">
        <button type="submit">Delete person</button>
    </form>
</body>
</html>
