* {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14.4px !important;
}

.card {
    width: 640px;
    margin: 0 auto;
    background-color: #f4f5f7;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
}

.left-section {
    flex: 1.5;
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gradient1 {
    background: radial-gradient(circle, rgba(245,183,114,1) 0%, rgba(226,149,58,1) 99%);
}

.gradient2 {
    background: radial-gradient(circle, rgba(193,118,92,1) 0%, rgba(223,114,72,1) 95%);
}

.gradient3 {
    background: radial-gradient(circle, rgba(203,214,223,1) 0%, rgba(174,186,194,1) 97%);
}

.gradient4 {
    background: radial-gradient(circle, rgba(242,243,244,1) 0%, rgba(222,222,222,1) 99%);
}

.right-section {
    width: 310px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-area img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.name-area {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.email-area {
    margin-bottom: 20px;
}

.email-area h6 {
    margin: 0;
    color: #f6d365;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

button, input[type="submit"].btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}

button:hover, input[type="submit"].btn:hover {
    background-color: #444;
}
