body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    background-color: #333;
    color: #F4F4F4;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}

button, input[type="submit"].btn {
    background-color: #333;
    color: #F4F4F4;
    border: none;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"].btn:hover {
    background-color: #444;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.content {
    background-color: #D3D3D3;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.logo-selector {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.logo-option {
    cursor: pointer;
}

.logo-option img {
    border: 3px solid transparent;
    transition: border 0.3s;
}

.logo-option img.selected {
    border: 3px solid #333;
}
